body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #380b44, #c833f1, #380b44);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

/* Pï¿½gina del login */
.create-task-page {
width: 100%;
max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
}

/* Contenedor principal */
.create-task-container {
display: flex;
width: 100%;
background: #fff;
border-radius: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
overflow: hidden;
}

/* Formulario de login */
.create-task-form {
flex: 1;
padding: 40px;
width: 400px;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #f4f4f9;
box-shadow: 0px 0px 13px 0px rgba(6, 1, 1, 0.273) ;
}  

.create-task-form h2 {
margin: 0;
font-size: 2rem;
color: #333;
}

.create-task-form p {
margin: 5px 0 20px;
color: #666;
}

.form-group {
margin-bottom: 10px;
}

.form-group label {
font-size: 0.9rem;
color: #333;
}

.form-group input {
width: 100%;
padding: 10px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}

.form-group input:focus {
border-color: #7f56d9;
outline: none;
}

.error-message {
color: red;
margin-bottom: 20px;
font-size: 0.9rem;
}

.form-actions button {
width: 100%;
background-color: #e54b4d;
color: #fff;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
}

.form-actions button:hover {
background-color: #ef7935;
}

.links {
margin-top: 15px;
display: flex;
justify-content: space-between;
font-size: 0.9rem;
}

.links a {
color: #ffff;
text-decoration: none;
}

.links a:hover {
text-decoration: underline;
}